@using SohaService.Core.Convertor
@using SohaService.Core.Services.Interfaces
@using SohaService.DataLayer.Entities.Customer
@using SohaService.DataLayer.Entities.Unit
@model SohaService.Core.DTOs.Pay.PayViewModel
@inject ICustomerService _customerService;
@inject IUnitService _unitService;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintPays</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/BootstrapJalaliDatePicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/css/new.css">
    <link rel="stylesheet" type="text/css" href="/css/select2.min.css">
</head>
<body>
    <div class="col-md-12" style="margin: 10px 0;">

        <div class="main-content">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-wrap">

                            <table class="table table-responsive-xl">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">مشتری</th>
                                        <th style="width: 10%;">موبایل</th>
                                        <th style="width: 10%;">توضیحات نهایی</th>
                                        <th style="width: 15%;">تاریخ انجام شدن</th>
                                        <th style="width: 15%;">هزینه ی کل</th>
                                        <th style="width: 15%;">مبلغ پرداختی</th>
                                        <th style="width: 15%;">تاریخ پرداخت</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InformationPayViewModels)
                                    {
                                        Customer customer = _customerService.GetCustomerById(item.OrderWitchOne == "Order" ? item.OrderCustomerId : item.RepairWitchOne == "Repair" ? item.RepairCustomerId : 0);
                                        Unit unit = _unitService.GetUnitById(item.OrderWitchOne == "Order" ? item.OrderUnitId : item.RepairWitchOne == "Repair" ? item.ReapirUnitId : 0);

                                        <tr class="alert" role="alert">
                                            <td>@customer.CustomerName @customer.CustomerFamily</td>
                                            <td>@customer.CustomerMobile</td>
                                            <td>
                                                @*@if (item.OrderWitchOne == "Order")
                                                {
                                                    @item.OrderDoneDescription
                                                }
                                                else if (item.RepairWitchOne == "Repair")
                                                {*@
                                                    @item.RepairDoneDescription
                                                @*}*@
                                            </td>
                                            <td>
                                                @*@if (item.OrderWitchOne == "Order")
                                                {
                                                    @item.OrderChangeLevelDate.ToShamsi()
                                                }
                                                else if (item.RepairWitchOne == "Repair")
                                                {*@
                                                    @item.SendUnitDate.ToShamsi()
                                                @*}*@
                                            </td>
                                            <td>
                                                @*@if (item.OrderWitchOne == "Order")
                                                {
                                                    @item.OrderTotalCost.ToRial()
                                                }
                                                else if (item.RepairWitchOne == "Repair")
                                                {*@
                                                    @item.RepairTotalCost.ToRial()
                                                @*}*@
                                            </td>
                                            @if (item.Amount != 0)
                                            {
                                                <td>@item.Amount.ToRial()</td>
                                            }
                                            else
                                            {
                                                <td>پرداخت اولیه (0)</td>
                                            }
                                            <td>@item.PayDate.ToShamsi()</td>

                                        </tr>

                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
