@using SohaService.Core.Convertor
@using SohaService.Core.DTOs.Order
@using SohaService.Core.Services.Interfaces
@using SohaService.DataLayer.Entities.Customer
@model SohaService.DataLayer.Entities.Orders.Order
@inject IOrderService _orderService;

@{
    ViewData["Title"] = "ویرایش سفارش";

    InformationOrderViewModel orderViewModel = _orderService.ShowInformationOrderById(Model.OrderId);
}

<main>
    <div class="container">
        <div class="user-account">
            <button class="header">صفحه ی سفارش @orderViewModel.CustomerNameFamily در تاریخ @orderViewModel.OrderSetDate.ToShamsi()</button>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <aside>
                        <section>
                            <div class="inner">
                                <ul>
                                    <li><button class="button-a"><a href="/InformationOrder/@Model.OrderId"> مشخصات </a></button></li>
                                    @if (Model.IsDelete == false)
                                    {
                                        <li><button class="button-a button-a-Active"><a href="/EditOrder/@Model.OrderId"> ویرایش </a></button></li>
                                        <li><button class="button-a"><a href="/DeleteOrder/@Model.OrderId"> حذف </a></button></li>
                                    }
                                    <li><button class="button-a"> گزارش </button></li>
                                </ul>
                            </div>
                        </section>
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1>ویرایش سفارش</h1>
                        </header>
                        <div class="inner form-layer">
                            <form asp-action="EditOrder" method="post">
                                <input type="hidden" asp-for="OrderId" />
                                <div class="row">
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">مشتری</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <select class="form-control" asp-for="CustomerId" asp-items="@(ViewData["customers"] as SelectList)"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">قطعه</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <select class="form-control" asp-for="UnitId" asp-items="@(ViewData["units"] as SelectList)"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">شرح خرابی</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <textarea class="form-control no-resiaze" rows="5" asp-for="DamageDescription" aria-describedby="username"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">هزینه برآورد شده</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" onkeyup="separateNum(this.value,this);" name="price" id="price" aria-describedby="username" placeholder="@Model.EstimatedAmount.ToRial()">
                                            <input type="hidden" class="form-control" asp-for="EstimatedAmount" id="finalprice" aria-describedby="username">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">تاریخ برآورد شده ارسال کارشناس</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-time"></i></span>
                                            <input type="datetime" asp-for="EstimatedToSendExpertTime" class="form-control" style="text-align: right" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <button class="btn btn-success" id="btnSave"> ویرایش اطلاعات </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript">

    function separateNum(value, input) {
        /* seprate number input 3 number */
        var nStr = value + '';
        nStr = nStr.replace(/\,/g, "");
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if (input !== undefined) {

            input.value = x1 + x2;
        } else {
            return x1 + x2;
        }
    }


    $(document).ready(function () {
        var myButton = $("#btnSave");
        var myInput = $("#price");
        myButton.click(function () {
            var inputValue = myInput.val();

            inputValue = inputValue.replace(/,\s?/g, "");

            if (inputValue!=="") {
                document.getElementById("finalprice").value =
                    inputValue;
            }
            
        });
    });

</script>

