@using SohaService.Core.Convertor
@model SohaService.Core.DTOs.Order.InformationOrderViewModel

@{
    ViewData["Title"] = "مشخصات سفارش";
}

<main>
    <div class="container">
        <div class="user-account">
            <button class="header">صفحه ی سفارش @Model.CustomerNameFamily در تاریخ @Model.OrderSetDate.ToShamsi()</button>
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <aside>
                        <section>
                            <div class="inner">
                                <ul>
                                    <li><button class="button-a button-a-Active"><a href="/InformationOrder/@Model.OrderId"> مشخصات </a></button></li>
                                    @if (Model.IsDelete == false)
                                    {
                                        @if (Model.OrderLevelId == 1)
                                        {
                                            <li><button class="button-a"><a href="/EditOrder/@Model.OrderId"> ویرایش </a></button></li>
                                        }
                                        else if(Model.OrderLevelId == 4)
                                        {
                                            <li><button class="button-a"><a href="/EditDoneOrder/@Model.OrderId"> ویرایش </a></button></li>
                                        }
                                        <li><button class="button-a"><a href="/DeleteOrder/@Model.OrderId"> حذف </a></button></li>
                                    }
                                    <li><button class="button-a"> گزارش </button></li>
                                </ul>
                            </div>
                        </section>
                    </aside>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> اطلاعات کامل </h1>
                        </header>
                        <div class="inner form-layer">
                            <div class="row">
                                <div class="col-md-3 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">تاریخ ثبت سفارش</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <input type="text" class="form-control" value="@Model.OrderSetDate.ToShamsi()" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">وضعیت سفارش</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <input type="text" class="form-control" asp-for="OrderLevelTitle" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">زمان برآورد شده فرستادن کارشناس</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <input type="text" class="form-control" value="@Model.EstimatedToSendExpertTime.ToShamsi()" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">هزینه برآورد شده</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <input type="text" class="form-control" value="@Model.EstimatedAmount.ToRial()" disabled="disabled">
                                    </div>
                                </div>
                                @if (Model.OrderLevelId == 4)
                                {
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">تخفیف</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" value="@Model.Discount.ToRial()" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">دلیل تخفیف</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" value="@Model.DiscountTitle" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">هزینه کل</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" value="@Model.TotalCost.ToRial()" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">پرداخت اولیه</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" value="@Model.ReceivedAmount.ToRial()" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">هزینه باقی مانده</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" value="@Model.RemainingAmount.ToRial()" disabled="disabled">
                                        </div>
                                    </div>
                                }
                                <div class="col-md-3 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">شرح خرابی</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <textarea class="form-control no-resiaze" rows="5" asp-for="DamageDescription" disabled="disabled"></textarea>
                                    </div>
                                </div>
                                @if (Model.OrderLevelId == 4)
                                {
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">توضیحات نهایی</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <textarea class="form-control no-resiaze" rows="5" asp-for="DoneDescription" disabled="disabled"></textarea>
                                        </div>
                                    </div>
                                }
                                <div class="col-md-3 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">قطعه</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <input type="text" class="form-control" asp-for="UnitName" disabled="disabled">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">مشتری</span>
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                        <input type="text" class="form-control" asp-for="CustomerNameFamily" disabled="disabled">
                                    </div>
                                </div>
                                @if (Model.OrderLevelId == 4)
                                {
                                    <div class="col-md-3 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">کارشناس</span>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-8 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                                            <input type="text" class="form-control" asp-for="ExpertNameFamily" disabled="disabled">
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

